{% extends 'base.html.twig' %}

{% block title_suffix %} Maintenance {% endblock %}

{% block page_content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4">Maintenance en cours !</h1>
        <p class="lead">Le site est actuellement en maintenance, veuillez réessayer plus tard.</p>
    </div>
</div>
{% endblock %}
