{% extends 'base.html.twig' %}

{% block title_suffix %} Éditez votre profil {% endblock %}

{% block page_content %}

    <button id="delete-button" class="btn btn-danger" onclick="handleDeletePopup()">Supprimer mon profil</button>
    <form id="delete-form" action="{{ path('suppression') }}" method="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('delete-account') }}">
    </form>
    <div id="confirmation-modal" style="display:none;" class="modal">
        <div class="modal-content">
            <span id="close-modal" class="close-button">&times;</span>
            <p>Êtes-vous sûr de vouloir supprimer votre profil ?</p>
            <button id="confirm-delete" class="btn btn-danger">Oui</button>
            <button id="cancel-delete" class="btn btn-secondary">Non</button>
        </div>
    </div>
{% endblock %}
