{% extends 'base.html.twig' %}

{% block title %} Créez votre profil {% endblock %}

{% block content %}

<main>
    {{ form_start(formUser, {'attr': {'class': 'center basic-form'}}) }}
</main>

{% endblock %}
