{% extends 'base.html.twig' %}

{% block title %}PLACEHOLDER TITLE{% endblock %}

{% block page_content %}

    <h1>Annuaire</h1>
    <ul>
        <li>jean</li>
        <li>oussama</li>
        <li>gérard</li>
        <li>xavier</li>
    </ul>

{% endblock %}
