{% extends 'base.html.twig' %}

{% block title_suffix %}Liste{% endblock %}

{% block page_content %}

    <h2>Annuaire</h2>
    <ul>
        {% for profil in utilisateurs %}
            <li><a href="{{ path('profil', { 'code': profil.codeUnique }) }}">{{ profil.login }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
