{% extends 'base.html.twig' %}

{% block title %}PLACEHOLDER TITLE{% endblock %}

{% block page_content %}

    <h2>{{ user.login }}</h2>
    <ul>
        <li>{{ user.email }}</li>
        <li>{{ user.numeroTelephone }}</li>
    </ul>

{% endblock %}