.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-button {
    cursor: pointer;
    float: right;
}

html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(45deg, #add8e6, #b0e0e6, #87cefa, #87ceeb, #b0e0e6);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@keyframes gradientMove {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.navbar{
    border-radius: 15px;
    position: relative;
    top: 10px;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}
.nav-item {
    margin-right: 25px;
    font-size: large;
}
.nav-item:last-child {
    margin-right: 0;
}

#btn-deconnexion {
    color: #007bff;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
  }

  #btn-deconnexion:hover {
    color: #0056b3;
    text-decoration: underline;
  }

  footer {
    margin-top: auto;
    width: 100%;
    background-color: #343a40; /* Ensure it's the same color as bg-dark in Bootstrap */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

  #titreNoms, #listeNoms {
    margin: 0;
}

#titreNoms {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

#listeNoms {
    font-size: 1rem;
    margin-bottom: 1rem;
}

  main{
      margin-top: 5%;
  }

  .list-group-item {
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

#visibilite {
    width: 120%;
}

#flashes-container {
    margin: 20px 0;
    position: fixed;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.alert-dismissible .btn-close {
    position: relative;
    top: -2px;
    right: -5px;
}