<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset("css/app.css") }}">
</head>
<body>
<header>
    <h3>HEADER</h3>
</header>
<div id="flashes-container">
    {% for flash in app.flashes('success') %}
        <span class="flashes flashes-success">{{ flash }}</span>
    {% endfor %}
    {% for flash in app.flashes('error') %}
        <span class="flashes flashes-error">{{ flash }}</span>
    {% endfor %}
</div>
{% block page_content %}{% endblock %}
</body>
<footer>
    <h3>FOOTER</h3>
</footer>
</html>
